page-mg-enquiry {
    $SIDEMENU_TOP: #e85905;
    $SIDEMENU_BOTTOM: #dfa50e;
    
    .button-md-primary {
        color: #fff;
        background: -webkit-gradient(to right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -o-linear-gradient(to right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: -moz-linear-gradient(to right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background: linear-gradient(to right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
        background-repeat: repeat-x;
    }
}
