<div class="myview">
    <div text-center>
        <h2 text-center class="heading">{{text}}</h2>
    </div>
    <p text-center>“If there is passion in heart, nothing is impossible” the same belief is found in Miraj Group. Miraj Group is growing
        by leap & bounds and now its turnover has reached billions. Day after day it is stretching towards the newer path
        of success.” Starting with a simple beginning in year 1987, today MIRAJ Group has marked its presence in various
        sectors.
    </p>

    <p text-center>
        <button ion-button round color="primary" (click)="openPage()">Read More</button>
    </p>

</div>