<ion-grid class="location">

  <ion-row align-items-center>

    <ion-col col-3 offset-1>
      <ion-card>
        <img src="assets/imgs/Loc-1.png" />
        <div class="card-title">Nathdwara</div>
      </ion-card>
    </ion-col>

    <ion-col col-3>
      <ion-card>
        <img src="assets/imgs/Loc-2.png" />
        <div class="card-title">Bhilwara</div>
      </ion-card>
    </ion-col>

    <ion-col col-3>
      <ion-card>
        <img src="assets/imgs/Loc-3.png" />
        <div class="card-title">Ajmer</div>
      </ion-card>
    </ion-col>

    <ion-col col-3 offset-2>
      <ion-card>
        <img src="assets/imgs/Loc-4.png" />
        <div class="card-title">Udaipur</div>
      </ion-card>
    </ion-col>

    <ion-col col-3>
      <ion-card>
        <img src="assets/imgs/Loc-5.png" />
        <div class="card-title">Jaipur</div>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>